[user]
	email = kawasima1016@gmail.com
	name = kawasima
[push]
	default = matching
[alias]
	st = status
	ci = commit
	co = checkout

[include]
	path = .gitconfig.proxy

[url "https://"]
	instedOf = git://
[credential]
	helper = /usr/share/git/credential/netrc/git-credential-netrc
[init]
	defaultBranch = main
[core]
	autocrlf = input
